
.large-check
{
    color:#3ee986;
    font-size: 24px;
}

.cover-darken
{
    background-color:#000;
    opacity: 0.35;
    position: absolute;
    width:100%;
    height:calc(100% - 22vh) !important;
    left:0;
    top:0;
}

.return-dash-text
{
    color:#3ee986;
    position: absolute;
    z-index:99;
    padding-left: 3px;
    top:19px;
}

.journal-header
{
    background-size: cover !important;
    background-position:  top top !important;
    background-image: url("../img/landingpage2.png") !important;
}

.cover-arrow
{
    margin-top: 20px;
}

.tag-button
{
    margin-top: 100px !important;
    border-radius: 5px;
    border:2px solid #4257b2;
    color:#4257b2;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 2px;
    transition: all .3s ease;
}

.tag-button:hover
{
    cursor: pointer;
    background: #4257b2;
    color:#fff;
}   

.eliminate-left-pad
{
    padding-left: 0px !important;
}

.highlight-blue-hover:hover
{
    color:#4257b2 !important;
}

.plan-features
{
    border-bottom: 1px solid #4257b2 !important;
}

.journal-view
{
    color:#3ee986;
    border: 2px solid #3ee986;
    transition: all .3s ease;
    background: transparent;
    font-size: 14.5px;
    padding-left: 8px;
    padding-right:8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
}

.journal-view:hover
{
    cursor: pointer;
    background:#3ee986;
    color:#fff;
}


.header-date-text
{
    font-size: 45px;
    color:#fff;
    text-align: center;
    padding-top: 10.5vh;
    padding-bottom: 10.5vh;
}

.top-item
{
    padding-top: 15px;
    border-top: 1px solid #95a9c9;
}

.plan-item
{
    font-size: 17px;
    margin-top: 15px;
    list-style-type: none;
    border-bottom:.4px solid #95a9c9;
    padding-bottom: 5px;
    padding-top: 5px;
}

.list-group-green
{

    padding-left: 7px;
    padding-right: 7px;
    padding-top:3px;
    padding-bottom: 3px;
    border-radius: 5px;
    font-size:12px;
    text-transform: uppercase;

    color:#3ee986;
    background: #ccf6e5;
}

.view-journal
{
    transition: all .3s ease;
    color:#4257b2 !important;
    border-bottom: 2px solid transparent;
}

.view-journal:hover
{
    cursor: pointer;
    border-bottom: 2px solid #4257b2;
}

.large-goal-button
{
    font-size:17px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top:6px !important;
    padding-bottom: 6px !important;
}

.dashboard-return
{
    color:#3ee986;
    padding-bottom: 10px;
}

.dashboard-arrow
{
    color:#3ee986;
    position: relative;
    top:2px;
    font-weight: bold;
}

.dashboard-arrow-blue
{
    color:#4257b2 !important;
}

.styled-select
{
    background:transparent;
    box-shadow: none;
    border:2px solid #3ee986;
    border-radius: 10px;
    color:#3ee986;
    transition: all .3s ease;
}

.styled-select:hover
{
    cursor: pointer;
    color:#fff;
    background:#3ee986;
}

.return-text-blue
{
    color:#4257b2 !important;
}

.return-text
{
    color:#3ee986;
    transition: color .3s ease;
}

.return-text:hover
{
    cursor: pointer;
}

.dashboard-goal-time
{
    width: 150px !important;
    border-bottom: 3.1px solid #4257b2 !important;
    color:#F0F3F4;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 1.6px !important;
}

.dashboard-goal-time:focus
{
    color: #4257b2 !important;
}

.dropdown-item
{
    transition: color .3s ease;
}

.dashboard-back
{
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    color:#4257b2;
    transition: all .3s ease;
    border: 2px solid #4257b2;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 10px;
}

.text-entry-blue:focus
{
    border: 1px solid #4257b2 !important;
}

.btn-style-outline
{
    border: 2px solid #4257b2 !important;
    background:transparent !important;
    color:#4257b2 !important;
    transition: all .3s ease;
}

.btn-style-outline:hover
{
    background:#4257b2 !important;
    color:#fff !important;
}

.btn-style
{
    border: 2px solid #4257b2 !important;
    background:#4257b2 !important;
    color:#fff !important;
    transition: all .3s ease;
}

.btn-style:hover
{
    background:transparent !important;
    color:#4257b2 !important;
}

.dashboard-text
{
    display: inline-block !important;
    color:#4257b2 !important;
    border-bottom: 2px solid transparent !important;
    transition: all .3s ease;
}

.dashboard-text:hover
{
    border-bottom: 2px solid #4257b2 !important;
}

.dashboard-card
{
    background:#fff !important;
}

.eggshell
{
    color:#F0F3F4;
}
.dashboard-back:hover
{
    cursor: pointer;
   color:#fff;
   background:#4257b2;
}

.dropdown-item:hover
{
    cursor: pointer;
    color:#4257b2 !important;    
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #F0F3F4;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #F0F3F4;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #F0F3F4;
  }

  .dropdown-toggle::after {
    display:none !important;
}

.dashboard-goal-input
{
    text-align: center;
    color:#fff;
    display: inline-block;
    width: 95px;
    outline: none !important;
    border-radius: 3.3px !important;
    -webkit-appearance: none; box-shadow: none !important; 
   /* border-bottom: 3.1px solid #4257b2;
    border-top: 2px solid transparent;
    border-right:2px solid transparent;
    border-left: 2px solid transparent;
    border-radius: 2px solid transparent;
    */
    background:#4257b2 !important;
    border: 2px solid #4257b2;
    box-shadow: none;
    transition: all .3s ease;
}

.dashboard-goal-input:hover
{
    cursor: pointer;
}

.dashboard-goal-input:focus
{
    background: transparent !important;
    color:#4257b2 !important;
}

.goal-button
{
    background:#4257b2;
    color:#fff;
    border:1px solid #4257b2;

    padding-left:6px;
    padding-right:6px;
    padding-top:3.5px;
    padding-bottom: 3.5px;
    border-radius: 5px;
    transition: all .3s ease;
}

.goal-button:hover
{
    border: 1px solid #4257b2;
    color:#4257b2;
    cursor: pointer;
    background:transparent;
}

.analyze-link
{
    color:#4257b2;
    border-bottom: 2px solid transparent;
    transition: border .3s ease;
}

.analyze-link:hover
{
    cursor: pointer;
    border-bottom: 2px solid #4257b2;
}

.dashboard-goal
{
    font-size:32px;
}