
input[type="color"] {
    position: relative;
    top:7px;
    padding:0px !important;
    -webkit-appearance: none;
    width:26px !important;
    height:26px !important;
    border-radius: 26px !important;
    border: 1px solid #000;
}

html, body {
    overflow-x: hidden !important;
  }
  body {
    position: relative !important;
  }

.extra-padding
{
    padding-left: 10px;
    padding-right: 10px;
}

.full-width
{
    left:0;
    width:100vw;
}

.larger-card-header
{
    font-size: 21px;
}

.no-notes
{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8.5px;
    padding-bottom: 8.5px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top:15px;
    font-size:18px;
    background:#4257b2;
    color:#fff;
}

.full
{
    height:100% !important;
   /* height:100% !important;width:100% !important;*/
}

input[type="color"]::-webkit-color-swatch-wrapper {
    border-radius: 26px !important;
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border-radius: 26px !important;
	border: none;
}

.mobile-scroll
{
    -webkit-overflow-scrolling: touch !important;
    overflow-y:scroll;
}

.fixed-hidden
{
    background: red !important;
    position: fixed !important;
    top:100vh !important;
}

.results-box-inactive
{
    position:fixed !important;
    top:-100vh !important;
    width:100vw;
    left:0;
    z-index:99 !important;
    opacity: 0 !important;
    background:#f9fbfd;
    height:100vh;
    transition: all .35s ease;
}

.results-box-active
{
    opacity: 1 !important;
    top:0vh !important;
}

.theme
{
    background:#2ecd72 !important;
    transition: all .9s ease 0s !important;
}

.color-pick
{
    transition: all .3s ease;
    position: relative;
}

.color-pick:hover
{
    cursor: pointer;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.45);
}

.light-theme-background
{
    background:#fff;
}

.light-theme-element
{
    background: #3ee986;
}

.element-duration
{
    transition: background-color 0.19s ease 0s!important;
}   

.emdr-element-top-bottom
{
    position: relative;
}

.emdr-element
{
    height:155px !important;
    width:155px !important;
    border-radius: 155px;
   
    transition: border-radius .43s ease 0s !important;
    
    /*
    trangle styles
     position: relative;
    top:-27px;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid #3ee986;
    transition: border-bottom .3s ease 0s;
    */
}

.circle
{
    border-radius: 155px !important;
}

.square
{
    border-radius: 0px !important;
}

.rounded-square
{
    position:relative;
    top:7px;
    border-radius: 10px !important;
}

.pad-preview
{
    padding-left: 10px;
}

.shape-category
{
    text-align: center;
    line-height: 60px;
    display: inline-block;
    border: 2.5px solid #3ee986;
    border-radius: 10px;
    height:60px;
    width:70px;
    transition: background 0.3s ease 0s;
}

.shape-category:hover
{
    background:#3ee986;
    color:#fff;
    cursor: pointer;
}

.shape-active-selected
{
    background:#3ee986 !important;
}

.shape-active-selected-white
{
    background:#fff !important;
}

.shape-active-selected-triangle
{
    border-bottom: 30px solid #fff !important;
}

.shape-active
{
    background:#fff !important;
}

.shape-active-triangle
{
    border-bottom: 30px solid #fff !important;
}


.circle
{
    position: relative;
    top:10px;
    display: inline-block;
    height:35px;
    width:35px;
    background:#3ee986;
    border-radius: 35px;
    transition: background .3s ease 0s;
}

.circle-start
{
    position: relative;
    top:10px;
    display: inline-block;
  
    background:#E74C3C;
  
    transition: background .3s ease 0s; 
}

.square
{
    position: relative;
    top:10px;
    display: inline-block;
    height:35px;
    width:35px;
    background:#3ee986;
    transition: background .3s ease 0s;
}

.square-rounded
{
    position: relative;
    top:10px;
    display: inline-block;
    height:35px;
    width:35px;
    border-radius: 6px;
    background:#3ee986;
    transition: background .3s ease 0s;
}

.triangle-element
{
    height:0 !important;
    width:0 !important;
    border-left: 20px solid transparent !important;
    border-right: 20px solid transparent !important; 
    border-bottom: 30px solid #3ee986 !important;
}

.triangle
{
    position: relative;
    top:-27px;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid #3ee986;
    transition: border-bottom .3s ease 0s;
}

.therapy-element-height
{
   height:100vh !important; 
}

.therapy-settings-header
{
    font-size: 43px;
}

.animation-transition
{
    transition: all .3s ease 0s !important;
}


.section-card
{

    padding-left:20px;
    padding-bottom: 35px;
    background:#fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.fast-anim
{
    animation-duration: 0.3s !important;
}

.margin-left-right
{
    margin-left: 3px;
    margin-right: 3px;
}

.margin-left-right-large
{
    margin-left: 6px;
    margin-right: 6px;
}


.preset-item-selected
{
    background:#3ee986 !important;
    color:#fff !important;
}

.therapy-settings-margin
{
    margin-top:15px;
}

.preset-item
{
    margin-top:5px;
    border-radius: 10px;
    position: relative;
    top:0px;
    border: 2.5px solid #3ee986;
    color:#3ee986;
    padding-top:4px;
    padding-bottom: 4px;
    padding-left:9px;
    padding-right: 9px;
    transition: all .3s ease 0s;
}

.preset-item:hover
{
    background:#3ee986;
    color:#fff;
    cursor: pointer;
}

.go-back-button
{
    display: inline-block;
    padding-top:12px;
    padding-bottom: 12px;
}

.emdr-box-active
{
    top:0vh !important;
}

.therapy-session-dropup
{
    position: relative;
    font-size: 24px;
    top:7px;
    color:#fff;
}

.emdr-hide-button-settings-hidden
{
    position: absolute;
    top:8.5px;
    right:15px;
}

.hide-arrow
{
    position: relative;
    top:-2px;
    left:-2px;
}

.emdr-hide-button-alternate
{
    border-radius: 35px;
    position: fixed;
    top:10px;
    border:1.5px solid #3ee986;
    color:#3ee986 !important;
    height:35px;
    width:35px;
    background: transparent;
    right:15px;
    font-size: 34px;
    animation-duration: 0.1s !important;
    transition: all .1s ease 0s;
}

.opacity-shift
{
    opacity: 0;
}

.emdr-hide-button-alternate:hover
{
    cursor: pointer;
    border: 1.5px solid #fff;
    background:#fff !important;
    color:#3ee986 !important;
}

.current-session-count
{
    padding-left:15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    position: absolute;
    right:70px;
    top:10px;
    color:#3ee986;
    background: #fff;
    border-radius: 10px;
}

.emdr-hide-button
{
    background:#fff;
    border-radius: 35px;
    position: absolute;
    top:8.5px;
    border:1.5px solid #3ee986;
    color:#3ee986;
    right:15px;
    font-size: 34px;
    transition: all .3s ease 0s;
}

.emdr-hide-button:hover
{
    cursor: pointer;
    color:#fff;
    border: 1.5px solid #fff;
    background:#3ee986;
}

  .instructions-box-section-header-top
  {
      font-size:34px;
      margin-top: 45px;
  }

.instructions-box-section
{
    border-radius: 10px;
    background: #fff;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left:40px;
    padding-right: 40px;
}

.instructions-box-section-header
{
    color:#4257b2;
    font-size: 25.5px;
}

.instructions-box-header
{
    text-align: center;
    margin-top:35px;
    font-size: 38px;
    letter-spacing: 7px;
    color:#fff;
}

.instructions-button
{
    border:2.5px solid #fff;
    border-radius: 10px;
    color:#fff;
    width:205px;
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 20px;
    left:0;
    right:0;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: all .3s ease;
}

.instructions-button:hover
{
    cursor: pointer;
    background:#fff;
    color:#4257b2;
}

.hide-button
{
    color:#fff;
    padding-left: 11px;
    border-radius: 10px;
    height:35px;
    padding-right: 11px;
    float: right;
    top:5px;
    border:2px solid #fff;

}

.instructions-box-section-body
{
    font-size: 16.5px;
}

.analyze-box-background
{
    background: rgb(72,190,191);
    background: linear-gradient(183deg, rgba(72,190,191,1) 0%, rgba(55,231,180,1) 100%);
    /*
    background: rgb(72,190,191);
background: linear-gradient(0deg, rgba(72,190,191,1) 0%, rgba(55,231,180,1) 100%);
*/
-webkit-overflow-scrolling: touch !important;
    overflow-y:scroll;
}

.instructions-box
{
    background: rgb(57,76,156);
    background: linear-gradient(324deg, rgba(57,76,156,1) 10%, rgba(66,87,178,1) 77%);
    -webkit-overflow-scrolling: touch !important;
    overflow-y:scroll;
}

.emdr-box-button
{
    color:#fff;
    display: inline-block;
    border-bottom: 1.5px solid transparent;
    transition: all .15s ease-in-out;
}

.emdr-box-button:hover
{
    cursor: pointer;
    border-bottom:1.5px solid #fff;
}

.prevent-scroll
{
    margin: 0; height: 100%; overflow: hidden
}

/*
html, body {margin: 0; height: 100%; overflow: hidden}
*/

.emdr-box-buttons
{
    
    padding:15px;
    position: fixed;
    top:-150px;
    background:#3ee986;
    width: 100%;
    transition-timing-function: cubic-bezier(0,0,1,1);
    transition: top .4s;
}

.transition-delay
{
    transition-delay: .25s !important;
}

.emdr-box-buttons-active
{
    top:0px;
}

.emdr-box
{
    position: fixed;
    /*padding-left:40px;*/
    overflow-x: hidden !important;
    top:100vh;
    width:100%;
    height:100vh;
    transition-timing-function: cubic-bezier(0,0,1,1);
    transition: top .4s ease-out;
}

.alternate-main
{
    position: absolute;
    top:37%;
}

#alternate-main
{
    z-index: 9999999999 !important;
}

.top-bottom-line
{
    position: relative;
    top:55px;
    width:100%;
    height:1.5px;
    background:#3ee986;
}

.alternate-preview-top
{
    position: absolute;

    left: -webkit-calc(50% - 77.5px);
    left: expression(50% - 77.5px);
    left: -moz-calc(50% - 77.5px);
    left: -o-calc(50% - 77.5px);
    left: calc(50% - 77.5px);
    top:0px;
   
    margin-left:auto;
    margin-right: auto; 
}

.alternate-main-top
{
    position: absolute;

    left: -webkit-calc(50% - 77.5px);
    left: expression(50% - 77.5px);
    left: -moz-calc(50% - 77.5px);
    left: -o-calc(50% - 77.5px);
    left: calc(50% - 77.5px);
    top:57px;
   
    margin-left:auto;
    margin-right: auto;
}

.range-slider
{
    margin-top: 0px;
    border-radius: 5px;
    -webkit-appearance: none;
    width: 80%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    /*opacity: 0.7;*/
    -webkit-transition: .2s;
    transition: background .3s ease 0s;
}

.session-selection
{
    -webkit-overflow-scrolling: touch !important;
    background: rgb(57,76,156);
    background: linear-gradient(324deg, rgba(57,76,156,1) 10%, rgba(66,87,178,1) 77%);
    height: 100vh;
    overflow-y:scroll;
    overflow-x:hidden;
    padding-left:20px;
    padding-top:5vh;
    top:-150%;
    position: fixed;
    padding-bottom:5vh;
    z-index: 99;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    transition: top .5s ease-in-out;

  
}

.session-selection-active
{
    top:0%;
}

.section-selection-header
{
    font-size: 33px;
}

.swal-wide
{
    width:75vw !important;   
}

.vertical-center-box
{
    position: relative;
    top:12vh;
}

.position-check
{
    position: relative;
    left:22px;
}

.save-therapy-button
{
    padding-left: 27px;
    padding-right: 27px;
    font-size: 20.5px;
    padding-top:10px;
    padding-bottom: 10px;
    border: 2.5px solid #fff;
    border-radius: 10px;
    color:#fff;
    position: relative;
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-top:15px !important;
    transition: all .3s ease;
}

.save-therapy-button:hover
{
    background:#fff;
    color:#3ee986;
}

.textarea-input
{
    min-height: 125px;
    max-height: 300px;
}

.therapy-value-record-input
{
    border: 2.5px solid #fff;
    color:#3ee986;
    width:150px;
    padding-top:12px;
    padding-bottom: 12px;
    font-size:18.5px;
    padding-left:10px;
    padding-right: 10px;
    border-radius: 5px;
    transition: all .3s ease 0s;
}

.therapy-value-record-input:focus
{
    color:#fff !important;
    background: transparent;
}

.therapy-over-box
{
    -webkit-overflow-scrolling: touch !important;
    min-height:450px;
    overflow-y:scroll;
    overflow-x:hidden;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    background: rgb(67,243,141);
    background: linear-gradient(42deg, rgba(67,243,141,1) 10%, rgba(46,204,113,1) 77%);
    border-radius: 10px;
    /*position: relative;*/
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    padding-top:5.5vh;
    padding-bottom: 5.5vh;
}

.hide-box
{
    position: absolute;
  opacity: 0;
  pointer-events: none;
}

.therapy-over-box-input:focus
{
    background: transparent;
}

.load-more
{
    position: relative;
    top:3px;
    color:#4257b2;
    font-size:15px;
    transition: border-bottom .3s ease;
}

.load-more:hover
{
    cursor: pointer;
}

.therapy-over-box-input
{
    margin-left:4px;
    margin-right: 4px;
    border: 2.5px solid #fff;
}

.therapy-modal
{
    padding-top:2vh;
    padding-bottom: 2vh;
}

.therapy-over-box-header
{
    margin-left: auto;
    margin-right: auto;
    color:#454545;
    font-size: 34px;
    font-weight: bolder;
    text-align: center;
}

.therapy-over-box-subheader
{
    font-size:19px;
    color:#454545;
}

.question-mark
{
    position: relative;top:0px;left:1.5px;
    color:inherit;
}


.information-circle
{
    display: inline-block;
    text-align: center;
    position: relative;
  
    left:-3px;
    height:27px;
    width:27px;
    border-radius: 35px;
    border: 1.5px solid #3ee986;
    background:#3ee986;
    color:#fff;
    transition: all .3s ease 0s;
}

.information-circle:hover
{
    cursor: pointer;
    color:#3ee986;
    background:#fff;

}

.range-slider:hover
{
    background:#E5E5E5;
    opacity: 1;
}

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    background: #2ecd72;
    cursor: pointer;
}

.faster-animation
{
    animation-duration: 0.16s !important;
}

.range-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #2ecd72;
    cursor: pointer;
}

.number-input-style
{
   
    margin-top:-10px;
    border: 2.5px solid #3ee986;
    color:#3ee986;
    padding-top:6px;
    padding-bottom: 6px;
    font-size:18.5px;
    padding-left:12px;
    padding-right: 12px;
    border-radius: 5px;
    transition: all .3s ease 0s;
}

.instructions-steps
{
    padding-left: 8px;
    padding-right: 8px;
    border-bottom: 3.2px solid #4257b2;
    color:#4257b2;
    font-size: 20px;
    display: inline-block;
}

.position-therapy-check
{
    position: relative;
    left:17px;
    top:-15px;
}

.position-check
{
    position: relative;
    left:21px;
}

.number-input-style:focus
{
  
    color:#fff !important;
    background: #3ee986;
}

.preview-pane
{
    height:100vh;
    background-color: #2c415a;  
}

.rubber-band
{
    -webkit-overflow-scrolling: touch !important;
}

.preview-text-box
{
    position: absolute;
    right:20px;
    top:15px;
    background:#fff;
    border-radius: 10px;
    padding-top:5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    letter-spacing: 3px;
}

.preview-text
{
    text-align: right;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background:#fff;
    border-radius: 10px;
    position: absolute;
    right:20px;
    top:15px;
    font-size: 21.5px;
    letter-spacing: 5px;
}

.preview-text-subheader
{
    letter-spacing:1px;
}

.setting-category
{
    text-align: left;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    color:#454545;
    letter-spacing: 3.5px;
}

.collapse-arrow-box
{
    position: relative;
    width:100%;
    height:100%;
    position: relative;

}

.collapse-arrow
{
    float: right;
    position: relative;
    right:0px;
    font-size: 32px !important;
    color:#fff;
    transition: all .3s ease 0s;
}

.arrow
{
    animation-duration: 0.2s !important;
    margin-top:2.8px;
    position: absolute;
}

.arrow-down
{
    transform: rotate(180deg);
}

.section-card-header
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background:transparent;
    padding-left:12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 21px;
    border: 3px solid #fff;
    color:#fff;
}

.close-button
{
    transition: all .3s ease 0s;
    padding-top:4.4px;
    padding-bottom: 4.4px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 20px;
    background:#fff;
    border:2.5px solid #4257b2;
    font-size: 16px;
    color:#4257b2;
}

.close-button:hover
{
    cursor: pointer;
    background: #4257b2;
    color:#fff;
}

.load-more-text
{
    position: relative;
    top:5px;
    transition: all .3s ease;
    font-size: 15.5px;
    color:#4257b2;
    border-bottom: 2.5px solid transparent;
}

.load-more-text:hover
{
    cursor: pointer;
    border-bottom: 2.5px solid #4257b2;
}

.save-changes-button
{
    transition: all .3s ease 0s;
    padding-top:4.4px;
    padding-bottom: 4.4px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 20px;
    background:#4257b2;
    border:2.5px solid #4257b2;
    font-size: 16px;
    color:#fff;
}

.save-changes-button:hover
{
    cursor: pointer;
    color:#4257b2;
    background:#fff !important;
}

.modal-header-element
{
    margin-top:15px;
    font-size: 30px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;   
}

.section-card-body
{
    padding-top:10px;
    padding-left:10px;
    padding-right: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background:#fff;
}

.therapy-setting-box-green
{
    padding-left:20px;
    padding-bottom:20px;
    padding-right:20px;
    padding-top:20px;
    width:100%;
    border: 2.5px solid #fff;
    color:#fff;
    border-radius: 10px;
}

.therapy-setting-box
{
    position: relative;
    padding-left:20px;
    padding-bottom:20px;
    padding-right:20px;
    padding-top:20px;
    width:100%;
    background:#fff;
    border-radius: 10px;
}

.therapy-setting-box-icon
{
    position: relative;
    top:7px;
    font-size:24px;
    color:#4257b2;
}

.therapy-setting-box-icon
{
    color:inherit;
}

.therapy-setting-box-header-green
{
    font-size: 24px;
    color:#fff;
}

.therapy-setting-box-header
{
    word-wrap: break-word !important;
    display: inline-block !important;
    width:90%;
    line-height: 25px;
    font-size: 22px;
    color:#4257b2;
}

.therapy-setting-box-header-change
{
    border-radius: 10px;
    transition: all .3s ease;
    padding:5px;
}

.therapy-setting-box-header-change:hover
{
    background:#4257b2;
    color:#fff;
}

.therapy-setting-box-description-change
{
    padding-left: 5px;
}

.awesome {
    background: purple;
}
.color-picker
{
    background:blue !important;
}
.therapy-setting-box-button-green
{
    padding:7px;
    border-radius: 10px;
    font-size: 15px;
    border:2.5px solid #fff;
    color:#fff;
    transition: all .3s ease 0s; 
}

.therapy-setting-box-button-green:hover
{
    cursor: pointer;
    background:#ffff;
    color:#4257b2;
}

.therapy-setting-box-button
{
    padding:7px;
    border-radius: 10px;
    font-size: 15px;
    border:2.5px solid #4257b2;
    color:#4257b2;
    transition: all .3s ease 0s;
}

.therapy-setting-box-button:hover
{
    cursor: pointer;
    background:#4257b2;
    color:#fff;
}

.set-delete:hover
{
    border: 2.5px solid #E74C3C;
    background: #E74C3C;
}

.therapy-setting-box-description-green
{
    font-size: 16px;
    color:#fff;
}

.therapy-setting-box-description
{
    word-wrap: break-word !important;
    display: block;
    font-size: 16px;
    color:#454545;
}


.dashboard-button
{
    transition: all .3s ease 0s;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top:5px;
    padding-bottom: 5px;
    border: 2.5px solid #fff;
    color:#fff;
    font-size:21px;
}

.dashboard-button:hover
{
    cursor: pointer;
    color:#3ee986;
    background: #fff;
}

.text-input-error
{
   border:2.5px solid #e64c3c !important;
}

.text-input-error:focus
{
    background: #e64c3c !important;
}

.set-input-error-text
{
    font-size: 15px;
    color:#e64c3c;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #454545;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #454545;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #454545;
}


input:focus::-webkit-input-placeholder {
    color: #fff;
}

.textarea
{

    width:85%;
    transition: all .1s ease 0s;
    min-height: 80px;
    max-height: 640px;
}

.textarea:focus::placeholder
{
    color:#fff !important;
}


.text-input
{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    font-size: 16px;
    border:2.5px solid #454545;
    color:#454545;
    transition: all .3s ease 0s;
}

.text-input:focus
{
    background:#454545 !important;
    color:#fff;
}

.dashboard-button-blue
{
    padding-left:12px;
    padding-right: 12px; 
}

.dashboard-button-blue:hover
{
    color: #4257b2;
}

.dashboard-icon
{
    transition: all .3s ease 0s;
    position: relative;
    top:3px;
    color:#fff;
    font-size: 24px;
}

.dashboard
{
    color:#3ee986;
}

.dash-arrow
{
    font-size: 18px;
    position: relative;
    top:4px;
    margin-right: 3px;
}

.preview-nav
{
    margin-top:3px;
    margin-bottom: 3px;
    border:2.5px solid #3ee986;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
    font-size: 16px;
    letter-spacing: 5px;
    transition: all .3s ease 0s;
}

.preview-nav-arrow
{
    position: relative;
    font-size: 18px;
    top:3px;
    color:inherit;
}

.preview-nav-arrow:hover
{
    color:inherit !important;
}

.dashboard-icon-blue
{
    top:5px;
    font-size:25.5px;
}

.dashboard-icon-blue:hover
{
    color:inherit !important;
}

.dashboard-nav
{
    padding-left:17px;
}

.therapy-settings-useage
{
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:10px;
    padding-right:10px;
    border-radius: 10px;
    border:2.5px solid #fff;
    font-size:19px;
    transition: all .3s ease 0s;
}

.therapy-settings-useage:hover
{
    cursor: pointer;
    background: #fff;
    color:#3ee986;    
}

.settings-panel
{
    height:100vh;
    -webkit-overflow-scrolling: touch !important;
    overflow-y:scroll;
    padding-left:20px;
    padding-top:5vh;
}

.toggle-element
{
    position: absolute;
    width:100%;
    top:0px;
    padding-top:0px;
    width:100%;
    position: relative;
    color:#fff;
    padding-left: 0px;
    font-size:20px;
    background: #3ee986;
    border-bottom: 2.5px solid #3ee986;
    border-radius: 10px;
    padding-bottom: 3px;
}

.toggle-element:hover
{
    color:#fff;
    border-bottom: 2.5px solid #fff !important;
    background: transparent !important;
}

.toggle-element:focus
{
    color:#fff;
    background: transparent !important;
}

.navbar-therapy
{
    background: rgb(255,255,255) !important;
    background: rgba(255, 255, 255, 1) !important;
}

.soft-badge-blue
{
    color:#fff;
    background:#4257b2;
}

.dash-goals
{
    font-size: 17.1px;
}

.text-input-failure
{
    border:2.5px solid #e64c3c;
}

.failure-text
{
    color:#e64c3c;
}

@media only screen 
and (max-width:300px)
{
    .number-input-style
    {
        width:195px !important;
    }
}

@media only screen 
and (max-width:500px)
{

    .analyze-box-section
    {
        width: 100% !important;
    }

    .number-input-style
    {
        width:205px !important;
    }
}

@media only screen 
and (max-width:327px)
and (min-width:301px)
{
    .number-input-style
    {
        width:235px !important;
    }
}

@media only screen 
and (max-width:356px)
{

    .therapy-setting-box-button
    {
        padding:5.7px;
    border-radius: 10px;
    font-size: 13.7px;
    border:2px solid #4257b2;
   
    }

    .instructions-mobile-move
    {
        font-size: 23px !important;
    }

    .instructions-box-section-header
    {
        font-size: 23px;
    }
    
    .instructions-box-section
    {
        padding-left:20px;
        padding-right: 20px;    
    }
}

@media only screen 
and (max-width: 774px)
{
    .instructions-mobile-move
    {
        position: relative;
        top:20px;
        margin-bottom: 20px;
        font-size: 30px;
    }
}

@media only screen 
and (max-height: 540px)
{
    .therapy-over-box
    {
        position: absolute !important;
        top:0 !important;
        left:0 !important;
        height:90vh !important;
        width:100% !important;
    }
}

@media only screen 
and (max-width:362px)
{
    .save-therapy-button
    {
        padding-left: 6px;
        padding-right: 6px;
        font-size: 14px !important;
        padding-top:6px;
        padding-bottom: 6px;
        border: 2.5px solid #fff;
    }

    .therapy-value-record-input
    {
        font-size:8.2px !important;
        width:72px !important;
    }
}

@media only screen 
and (max-width:494px)
{
    .therapy-over-box-header
    {
        font-size:24px;
    }

    .therapy-over-box-subheader
    {
        font-size: 15.2px;
    }

    .therapy-value-record-input
    {
        font-size:10.5px;
        width:85px;
    }

    .therapy-over-box-input
    {
        font-size:15px;
    }

    .save-therapy-button
    {
        padding-left: 6px;
        padding-right: 6px;
        font-size: 17px;
        padding-top:6px;
        padding-bottom: 6px;
        border: 2.5px solid #fff;
    }
}

@media only screen 
and (max-width:374px)
{
    .emdr-box-button
    {
        font-size: 11px !important;
    }

    .current-session-count
    {
        right:60px !important;
        top:14px !important;
        font-size: 11px !important;
        padding-left: 4.2px !important;
        padding-right: 4.2px !important;
    }

    .margin-right-larger
    {
        margin-right: 2px !important;
    }
}

@media only screen
and (max-width:473px)
{
    .emdr-box-button
    {
        font-size: 13px;
    }

    .current-session-count
    {
        top:12px;
        font-size: 13px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .margin-right-larger
    {
        margin-right: 4px;
    }
}

@media only screen
and (max-width:767px)
{
    .preview-pane
    {
        height:100vh;
    }

    .settings-panel
    {
        height:auto !important;
    }
}

/* Very small screens (iPhone 5) */
@media only screen 
and (max-width:325px)
{
    .section-card-header
    {
        font-size: 18.2px;
    }
}

@media only screen 
and (max-height: 414px)
{
    .therapy-settings-margin
    {
        margin-top:50px;
    }
}

/* Small screens (phones) */
@media only screen 
and (max-width: 420px)
{
    .therapy-settings-margin
    {
        margin-top:40px;
    }

    .preset-item
    {
        padding-left:6.5px;
        padding-right: 6.5px;
    }

    .shape-category
    {
        text-align: center;
        line-height: 60px;
        display: inline-block;
        border: 2.5px solid #3ee986;
        border-radius: 10px;
        height:55px;
        width:65px;
        transition: background 0.3s ease 0s;
    }

    .circle
    {
        position: relative;
        top:7.5px;
        height:35px;
        width:35px;
    }

    .square
    {
        position: relative;
        top:7.5px;
    }

    .square-rounded
    {
        position: relative;
        top:7.5px;
    }


    .triangle
    {
        position: relative;
        top:-31px;
    }

    .dashboard-button
    {
        font-size:19.5px;
        padding-left:10px;
        padding-right: 10px;
    }

   
}